@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=DM+Serif+Display:ital@1&family=Noto+Sans+KR:wght@100;300;400;500&family=Nuosu+SIL&family=Oleo+Script+Swash+Caps&family=Sawarabi+Gothic&family=Shadows+Into+Light&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(104, 168, 196);
  position: relative;
  width: 100%;
  height: 6000px;
}
body .icon {
  position: fixed;
  width: 100%;
  top: 2vw;
  left: 95vw;
  z-index: 1;
  font-size: 2vw;
  color: aliceblue;
  cursor: pointer;
}
body .icon2 {
  position: fixed;
  width: 100%;
  top: 1vw;
  left: 2vw;
  height: 5vw;
  background-size: 6vw;
  color: aliceblue;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("../img/icon2-removebg-preview.png");
}
body .YE01 {
  display: flex;
  width: 100vw;
  height: 2000px;
  top: 0px;
  background-color: rgb(104, 168, 196);
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 60vw 60px;
}
body .YE01 .main_text {
  position: fixed;
  width: 100vw;
  font: 10vw/1 "DM Serif Display";
  color: aliceblue;
  opacity: 1;
  top: 15vw;
  left: 25vw;
  text-shadow: 10px 10px 20px rgb(0, 0, 0);
}
body .YE01 .main_text2 {
  position: fixed;
  width: 100vw;
  font: 10vw/1 "DM Serif Display";
  color: aliceblue;
  opacity: 1;
  bottom: 15vw;
  right: 3vw;
  text-shadow: 10px 10px 20px rgb(0, 0, 0);
}
body .YE01 .text {
  position: fixed;
  color: aliceblue;
  font: bold 1.2vw/1 "Noto Sans Korean";
  left: 25vw;
  bottom: 16vh;
}
body .YE01 .text p {
  padding: 4vw;
}

.YE02 {
  position: absolute;
  width: 100vw;
  height: 1500px;
  top: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}
.YE02 .text02_1 {
  position: fixed;
  top: 0vw;
  left: 0vw;
  font: 4vw/1.5 "DM Serif Display";
  color: aliceblue;
}
.YE02 .text02_1 .video0 {
  position: absolute;
  top: 50vw;
  left: 5vw;
  background-size: 5vw;
  width: 100%;
  background-size: 50vw;
}

.ye03 {
  position: relative;
  background: linear-gradient(rgb(0, 0, 0), rgb(82, 125, 207));
  display: flex;
  width: 100vw;
  height: 5000px;
  top: 400px;
}
.ye03 .video {
  position: absolute;
}
.ye03 .video .video1 {
  position: absolute;
  background-image: url("../gif/gif1.gif");
  width: 100vw;
  height: 100vw;
  top: 20vw;
  left: 8vw;
  background-size: 30vw;
  background-repeat: no-repeat;
}
.ye03 .video .video2 {
  position: absolute;
  top: 35vw;
  left: 8vw;
  background-image: url("../gif/gif2.gif");
  width: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: 30vw;
}
.ye03 .video .video3 {
  position: absolute;
  top: 20vw;
  left: 40vw;
  background-image: url("../gif/gif3.gif");
  width: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: 31.5vw;
}
.ye03 .video .video4 {
  position: absolute;
  top: 35vw;
  left: 40vw;
  background-image: url("../gif/gif4.gif");
  width: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: 31.5vw 23vh;
}
.ye03 .video .video5 {
  position: absolute;
  top: 20vw;
  left: 73vw;
  background-image: url("../gif/gif8.gif");
  width: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: 20.5vw;
}
.ye03 .video .video6 {
  position: absolute;
  top: 20vw;
  background-color: aliceblue;
  width: 50vw;
  height: 30vw;
  opacity: 0.5;
}
.ye03 .video .video7 {
  position: absolute;
  top: 17vw;
  left: 20vw;
  width: 80vw;
  height: 50vh;
  opacity: 0.5;
  background-image: url("../img/water.jpg");
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
