//font family Oleo Script Swash Caps , Shadows Into Light ,DM Serif Display
//Nuosu SIL ,Sawarabi Gothic ,Abril Fatface ,Carter One ,Noto Fonts,Noto Sans Korean ,Song Myung

@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=DM+Serif+Display:ital@1&family=Noto+Sans+KR:wght@100;300;400;500&family=Nuosu+SIL&family=Oleo+Script+Swash+Caps&family=Sawarabi+Gothic&family=Shadows+Into+Light&family=Song+Myung&display=swap");

body {
  background-color: rgb(104, 168, 196);
  position: relative;
  overflow-x: hidden;

  // cursor: none;

  // .cursor {
  //   width: 20px;
  //   height: 20px;
  //   position: absolute;
  //   background-image: url("../img/icon-removebg-preview.png");
  //   z-index: 999;
  // }

  .icon {
    position: fixed;
    width: 100%;
    top: 2vw;
    left: 95vw;
    z-index: 1;
    font-size: 2vw;
    color: aliceblue;
    cursor: pointer;
  }

  .icon2 {
    position: fixed;
    width: 100%;
    top: 1vw;
    left: 2vw;
    height: 5vw;
    background-size: 6vw;
    color: aliceblue;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: url("../img/icon2-removebg-preview.png");
  }

  .YE01 {
    display: flex;
    width: 100vw;
    height: 2000px;
    top: 0px;
    background-color: rgb(104, 168, 196);
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 60vw 60px;

    .main_text {
      position: fixed;
      width: 100vw;
      font: 10vw/1 "DM Serif Display";
      color: aliceblue;
      opacity: 1;
      top: 15vw;
      left: 25vw;
      text-shadow: 10px 10px 20px rgb(0, 0, 0);
    }

    .main_text2 {
      position: fixed;
      width: 100vw;
      font: 10vw/1 "DM Serif Display";
      color: aliceblue;
      opacity: 1;
      bottom: 15vw;
      right: 3vw;
      text-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
    .text {
      position: fixed;
      color: aliceblue;
      font: bold 1.2vw/1 "Noto Sans Korean";
      left: 25vw;
      bottom: 16vh;

      p {
        padding: 4vw;
      }
    }
  }
}

.YE02 {
  position: absolute;
  width: 100vw;
  height: 3000px;
  top: 950px;
  // background-image: url("../img/water.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;

  // background: linear-gradient(rgb(104, 168, 196), rgb(37, 51, 73));

  .text02_1 {
    position: relative;
    top: 0vw;
    left: 0vw;
    font: 4vw/1.5 "DM Serif Display";
    color: aliceblue;
  }
  .vi1 {
    position: absolute;
    top: 50vh;
    left: 20vw;
    width: 60vw;
  }
  // .ye02_icon {
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   top: 19vw;
  //   left: 40vw;
  //   background-repeat: no-repeat;
  //   background-size: 20vw;
  //   background-image: url("../img/icon3.png");
  //   opacity: 0.4;
  // }
  .ye02_gif {
    position: fixed;
    background-image: url("../gif/gif5.gif");
    width: 100vw;
    height: 200vw;
    top: 13vw;
    left: 26vw;
    background-repeat: no-repeat;
    background-size: 50vw;
  }
  .black {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 18vw;
    background-color: black;
  }
  .p1 {
    position: fixed;
    font: 3.2vw/1 "DM Serif Display";
    top: 19vw;
    left: 4vw;
    color: rgb(152, 184, 243);
  }
  .black2 {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 18vw;
    background-color: black;
  }
  .p2 {
    position: fixed;
    font: 3vw/1 "Song Myung";
    top: 25vw;
    left: 32vw;
    color: rgb(115, 148, 207);
  }
  .black3 {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 18vw;
    background-color: black;
  }
  .p3 {
    position: fixed;
    font: 2.5vw/1 "Song Myung";
    top: 30vw;
    left: 35vw;
    color: rgb(82, 125, 207);
  }
}

.ye03 {
  position: absolute;
  width: 100vw;
  height: 1500px;
  top: 39500px;
  // background-color: orange;
}

.ye04 {
  position: relative;
  background: linear-gradient(rgb(0, 0, 0), rgb(82, 125, 207));
  display: flex;
  width: 100vw;
  height: 5000px;
  top: 400px;
  .video {
    position: absolute;
    .video1 {
      position: absolute;
      background-image: url("../gif/gif1.gif");
      width: 100vw;
      height: 100vw;
      top: 20vw;
      left: 8vw;
      background-size: 30vw;
      background-repeat: no-repeat;
    }
    .video2 {
      position: absolute;
      top: 35vw;
      left: 8vw;
      background-image: url("../gif/gif2.gif");
      width: 100vw;
      height: 100vw;
      background-repeat: no-repeat;
      background-size: 30vw;
    }
    .video3 {
      position: absolute;
      top: 20vw;
      left: 40vw;
      background-image: url("../gif/gif3.gif");
      width: 100vw;
      height: 100vw;
      background-repeat: no-repeat;
      background-size: 31.5vw;
    }
    .video4 {
      position: absolute;
      top: 35vw;
      left: 40vw;
      background-image: url("../gif/gif4.gif");
      width: 100vw;
      height: 100vw;
      background-repeat: no-repeat;
      background-size: 31.5vw 23vh;
    }
    .video5 {
      position: absolute;
      top: 20vw;
      left: 73vw;
      background-image: url("../gif/gif8.gif");
      width: 100vw;
      height: 100vw;
      background-repeat: no-repeat;
      background-size: 20.5vw;
    }
    .video6 {
      position: absolute;
      top: 20vw;
      background-color: aliceblue;
      width: 50vw;
      height: 30vw;
      opacity: 0.5;
    }
    .video7 {
      position: absolute;
      top: 17vw;
      left: 20vw;
      width: 80vw;
      height: 50vh;
      opacity: 0.5;
      background-image: url("../img/water.jpg");
      background-repeat: no-repeat;
    }
  }
}
// // gsap.registerPlugin(ScrollTrigger);
// // gsap.defaults({
// //   ease: "none",
// //   duration: 2,
// // });

// // const tl = gsap.timeline({
// //   scrollTrigger: {
// //     trigger: ".wrap",
// //     start: "top top",
// //     marker: true,
// //     end: "+=3000",
// //     scrub: true,
// //     pin: true,
// //   },
// // });
